## Numpy Assignment 2

- Student Name: James Bumba
- Student RegNo: 2020/HD07/3230

### Instructions
- Please answer the exercises to the best of your knowledge.
- The assignment is out of 10 marks and will contribute partially to your final result.

In [112]:
import numpy as np
import pandas as pd
import seaborn as sns
titanic = sns.load_dataset('titanic')

In [113]:

#A function that creates a random dataset
# with numerical and categorical features
def create_dataset(n_samples, n_features, n_classes):
    #set the seed
    #np.random.seed(42)
    X = np.random.randn(n_samples, n_features)
    y = np.random.randint(0, n_classes, n_samples)
    #combing the numerical and categorical features
    z = np.hstack((X, y.reshape(-1, 1)))
    # add random column names to the dataset
    z = pd.DataFrame(z, columns=['col' + str(i) for i in range(n_features + 1)])
    # add a column with random strings combinations
    z['string'] = np.random.choice(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'], n_samples)
    # return the dataset
    return z

In [114]:
#use the function above to create a dataframe.
df = create_dataset(50,5,2)

In [115]:
#check the dimensions of the data
df.shape

(50, 7)

In [116]:
#display the first few rows
df.head()
#df

       col0      col1      col2      col3      col4  col5 string
0 -0.913413 -0.455033 -0.412762  0.595644 -1.991538   1.0      b
1  0.426026 -0.541285  0.776823 -0.047644  0.518694   0.0      m
2 -0.391402  0.438023  1.663770 -0.739236 -0.107194   1.0      z
3 -0.486217  1.592982 -0.433942 -0.732692 -0.578277   0.0      n
4 -0.135717 -0.793505 -0.368450  0.157202 -0.115473   1.0      x

In [117]:
# slice the first two columns and first two rows from the dataset
np.random.seed(42)
df_new = df.iloc[[0,1], [0,1]]
#df_new = df.iloc[0:2:, 0:2]
df_new

       col0      col1
0 -0.913413 -0.455033
1  0.426026 -0.541285

In [118]:
# slice the last two columns and and las two rows from the dataset
np.random.seed(42)
print(len(df.index)) #getting number of rows in df
last_two = df.iloc[-2:,-2:] #returning last 2 rows and last 2 columns
last_two

50

    col5 string
48   1.0      h
49   1.0      h

In [119]:
# check the column data types in the dataset
df.dtypes

col0      float64
col1      float64
col2      float64
col3      float64
col4      float64
col5      float64
string     object
dtype: object

In [120]:
# use the describe function to display the stats of the data.
np.random.seed(42)
#To call describe() on just the numerical columns use describe(include = [np.number])
print(df.describe(include = [np.number]))
print("")

#To call describe() on just the objects (strings) using describe(include = ['O']).
print(df.describe(include = ['O']))

print("")
#To call describe() on all elements of the dataframe use df.describe(include = 'all')
df.describe(include = 'all')

            col0       col1       col2       col3       col4       col5
count  50.000000  50.000000  50.000000  50.000000  50.000000  50.000000
mean   -0.115784   0.166192   0.166998   0.068314  -0.152172   0.500000
std     0.876171   1.025181   1.056097   0.941962   1.198942   0.505076
min    -2.062526  -1.534065  -3.478169  -1.371589  -2.339597   0.000000
25%    -0.735119  -0.561489  -0.357315  -0.663062  -0.919205   0.000000
50%    -0.060327   0.018483   0.195746  -0.192048  -0.111334   0.500000
75%     0.395560   0.825481   0.732591   0.599701   0.572429   1.000000
max     1.951280   2.341975   2.539258   3.253985   2.244807   1.000000

       string
count      50
unique     23
top         o
freq        6

,col0,col1,col2,col3,col4,col5,string
count,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50
unique,NaN,NaN,NaN,NaN,NaN,NaN,23
top,NaN,NaN,NaN,NaN,NaN,NaN,o
freq,NaN,NaN,NaN,NaN,NaN,NaN,6
mean,-0.115784,0.166192,0.166998,0.068314,-0.152172,0.500000,NaN
std,0.876171,1.025181,1.056097,0.941962,1.198942,0.505076,NaN
min,-2.062526,-1.534065,-3.478169,-1.371589,-2.339597,0.000000,NaN
25%,-0.735119,-0.561489,-0.357315,-0.663062,-0.919205,0.000000,NaN
50%,-0.060327,0.018483,0.195746,-0.192048,-0.111334,0.500000,NaN
75%,0.395560,0.825481,0.732591,0.599701,0.572429,1.000000,NaN
max,1.951280,2.341975,2.539258,3.253985,2.244807,1.000000,NaN

In [121]:
# calculate the sums of the data by row
rowSum = df.sum(axis=1)
rowSum.head()

C:\Users\JAMES\AppData\Local\Temp\ipykernel_11932\1804456752.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  rowSum = df.sum(axis=1)

0   -2.177101
1    1.132614
2    1.863960
3   -0.638146
4   -0.255944
dtype: float64

In [122]:
# calculate the sums of the data by column
columnSum=df.iloc[:,0:7].sum(axis=0, numeric_only=True)
#df['col sum']=df[1:7].sum(axis=1)
columnSum

col0    -5.789202
col1     8.309620
col2     8.349889
col3     3.415702
col4    -7.608585
col5    25.000000
dtype: float64

In [123]:
# create a new column by combining two random columns in the data through - addition, or multiplication
# call the column: new_col
df['ratio col0:col1']=df['col0']/df['col1']*100
df.head()

,col0,col1,col2,col3,col4,col5,string,ratio col0:col1
0,-0.913413,-0.455033,-0.412762,0.595644,-1.991538,1.0,b,200.735373
1,0.426026,-0.541285,0.776823,-0.047644,0.518694,0.0,m,-78.706323
2,-0.391402,0.438023,1.663770,-0.739236,-0.107194,1.0,z,-89.356534
3,-0.486217,1.592982,-0.433942,-0.732692,-0.578277,0.0,n,-30.522463
4,-0.135717,-0.793505,-0.368450,0.157202,-0.115473,1.0,x,17.103532

In [124]:
# create two random datasets from the function above and use the merge function to combine them
# name the two dataframes appropriately
#creating data_frame1
data_frame1=create_dataset(5,2,2)
print(data_frame1)
print("")
#creating data_frame2
data_frame2=create_dataset(5,2,2)
print(data_frame2)

# using .merge() function to merge data_frame1 and data_frame2 to get data_frame3
data_frame3 = pd.merge(data_frame1, data_frame2, on='string')
print("")
print(data_frame3)

       col0      col1  col2 string
0  0.496714 -0.138264   1.0      z
1  0.647689  1.523030   1.0      v
2 -0.234153 -0.234137   0.0      l
3  1.579213  0.767435   0.0      y
4 -0.469474  0.542560   1.0      q

       col0      col1  col2 string
0 -2.439106  0.603441   0.0      n
1 -0.251044 -0.163867   0.0      r
2 -1.476330  1.486981   1.0      z
3 -0.024455  0.355551   1.0      i
4  0.417011  0.832462   0.0      z

     col0_x    col1_x  col2_x string    col0_y    col1_y  col2_y
0  0.496714 -0.138264     1.0      z -1.476330  1.486981     1.0
1  0.496714 -0.138264     1.0      z  0.417011  0.832462     0.0

In [125]:
#create three random datasets and concatenate them to form one result df z
random_data_frame1=create_dataset(5,2,2)
print(random_data_frame1)
print("")
#creating data_frame2
random_data_frame2=create_dataset(4,2,2)
print(random_data_frame2)
print("")
#creating data_frame2
random_data_frame2=create_dataset(4,2,2)
print(random_data_frame2)
print("")
#creating data_frame3
random_data_frame3=create_dataset(4,2,2)
print(random_data_frame3)
print("")
z=pd.concat([random_data_frame1, random_data_frame2, random_data_frame3])
print(z)

       col0      col1  col2 string
0  0.291034 -0.635560   1.0      r
1 -1.021552 -0.161755   1.0      z
2 -0.533649 -0.005528   1.0      l
3 -0.229450  0.389349   1.0      b
4 -1.265119  1.091992   1.0      j

       col0      col1  col2 string
0  0.218638  0.881761   1.0      o
1 -1.009085 -1.583294   0.0      m
2  0.773700 -0.538142   0.0      a
3 -1.346678 -0.880591   0.0      y

       col0      col1  col2 string
0  0.582123  0.887748   1.0      x
1  0.894332  0.754998   0.0      e
2 -0.207166 -0.623477   0.0      c
3 -1.508153  1.099647   1.0      l

       col0      col1  col2 string
0  0.834795  0.296561   0.0      o
1 -1.037830 -0.075804   0.0      z
2  0.972964  0.795595   0.0      j
3  1.495434  0.338181   0.0      m

       col0      col1  col2 string
0  0.291034 -0.635560   1.0      r
1 -1.021552 -0.161755   1.0      z
2 -0.533649 -0.005528   1.0      l
3 -0.229450  0.389349   1.0      b
4 -1.265119  1.091992   1.0      j
0  0.582123  0.887748   1.0      x
1  0.894332  0.754998   0.0      e
2 -0.207166 -0.623477   0.0      c
3 -1.508153  1.099647   1.0      l
0  0.834795  0.296561   0.0      o
1 -1.037830 -0.075804   0.0      z
2  0.972964  0.795595   0.0      j
3  1.495434  0.338181   0.0      m

In [126]:
# create two datasets and join them based on one common variable
dataFrame1=create_dataset(10,2,2)
print(dataFrame1)
print("")
#creating data_frame2
dataFrame1=create_dataset(10,2,2)
print(data_frame2)

# using .merge() function to merge data_frame1 and data_frame2 to get data_frame3
data_frame3 = pd.merge(data_frame1, data_frame2, on='string')
print("")
print(data_frame3)

       col0      col1  col2 string
0  0.150489 -0.113421   0.0      m
1  2.633528 -1.025091   0.0      i
2 -0.782048  0.423943   1.0      c
3  0.872705  2.287226   0.0      g
4  1.622920  0.823733   0.0      f
5  0.293059  0.896630   0.0      h
6 -0.610322 -0.316166   0.0      i
7 -1.482424 -0.228848   1.0      e
8  0.962641 -0.209692   0.0      a
9 -0.774043 -0.359778   1.0      s

       col0      col1  col2 string
0 -2.439106  0.603441   0.0      n
1 -0.251044 -0.163867   0.0      r
2 -1.476330  1.486981   1.0      z
3 -0.024455  0.355551   1.0      i
4  0.417011  0.832462   0.0      z

     col0_x    col1_x  col2_x string    col0_y    col1_y  col2_y
0  0.496714 -0.138264     1.0      z -1.476330  1.486981     1.0
1  0.496714 -0.138264     1.0      z  0.417011  0.832462     0.0

In [127]:
# create a dataset called p and groupby the string column and calculate sums
p=df.groupby('string').sum(numeric_only=True)#grouping by column 'string' and getting sums
p

,col0,col1,col2,col3,col4,col5,ratio col0:col1
string,,,,,,,
b,-2.436573,0.750882,-0.037174,-0.775946,-1.506444,2.0,74.427912
c,-0.266755,-0.641695,2.559109,1.264177,-1.880205,1.0,33.780579
d,0.580966,0.809575,3.424831,-0.426591,0.699735,1.0,-2442.983854
e,-0.258418,1.183482,-0.505442,-1.356785,-1.581654,1.0,-21.835369
f,1.610820,0.527960,-0.367763,-0.547723,1.043676,0.0,305.102471
g,-0.065363,3.589986,1.276273,-1.265165,-4.098944,1.0,45.394710
h,0.575290,-2.277793,1.501222,-0.738556,1.513092,2.0,-62.522701
i,1.355970,-0.739619,-0.649247,-0.848521,-0.936245,0.0,-183.333690
j,-0.296002,0.366547,0.347345,0.025088,2.369971,0.0,61.473566
k,1.136242,0.501427,1.060639,-0.668975,-0.868084,1.0,226.601852
l,-0.471878,-0.556181,-0.897236,1.525830,0.366909,0.0,84.842416
m,-1.303231,0.260842,-3.732026,-2.199460,-2.424480,1.0,-135.100679
n,0.262888,3.401939,-0.206957,-1.003654,-0.131988,1.0,10.888457
o,-4.749954,4.092354,-1.144043,3.074959,6.335498,3.0,-446.348416
q,-1.783324,0.097170,0.833252,-0.403437,-0.678052,1.0,-37.600375
r,2.844105,-0.603344,3.068693,1.212902,-0.479989,1.0,-5026.350073
s,0.204851,-1.661362,-0.530590,3.525047,0.699808,1.0,-213.723338
t,-1.514575,0.679660,-0.122789,0.648893,0.780275,1.0,-222.843125
v,-0.619331,-0.239920,-1.144669,1.603463,-1.310642,2.0,1754.775490
w,0.683192,2.381435,0.552765,1.262508,0.614130,1.0,87.744363
x,-0.135717,-0.793505,-0.368450,0.157202,-0.115473,1.0,17.103532
y,-0.844220,-3.140915,0.988602,-1.116703,-4.255023,2.0,5973.274366
z,-0.298189,0.320696,2.443545,0.467149,-1.764457,1.0,-1442.736166

In [133]:
# create a dataframe called h and use iloc to slice the columns 3-5 and rows 3-4
h = df.iloc[3:5, 3:6]
h

       col3      col4  col5
3 -0.732692 -0.578277   0.0
4  0.157202 -0.115473   1.0

In [ ]:
# can you use the same dataset h but use loc function to slice the data?
# please leave your explanation if not.

In [ ]:
titanic.head()

In [ ]:
# please group the dataset titanic by sex and calculate the average age

In [ ]:
# what is the average age of women that died in that titanic?

In [ ]:
# how many of the people who embarked in Southampton were male and died?

In [ ]:
# what is the average fare of a man in First Class

In [ ]:
# Return the indexes of all the people that died in the titanic

In [ ]:
# drop all the indexes of those people and create a new df called aliveTitanic

In [ ]:
# how many were not adult males?