## Numpy Assignment 2

- Student Name: James Bumba
- Student RegNo: 2020/HD07/3230

### Instructions
- Please answer the exercises to the best of your knowledge.
- The assignment is out of 10 marks and will contribute partially to your final result.

In [ ]:

#A function that creates a random dataset
# with numerical and categorical features
def create_dataset(n_samples, n_features, n_classes):
    #set the seed
    #np.random.seed(42)
    X = np.random.randn(n_samples, n_features)
    y = np.random.randint(0, n_classes, n_samples)
    #combing the numerical and categorical features
    z = np.hstack((X, y.reshape(-1, 1)))
    # add random column names to the dataset
    z = pd.DataFrame(z, columns=['col' + str(i) for i in range(n_features + 1)])
    # add a column with random strings combinations
    z['string'] = np.random.choice(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'], n_samples)
    # return the dataset
    return z

In [ ]:
#use the function above to create a dataframe.
df = create_dataset(50,5,2)

In [ ]:
#check the dimensions of the data
df.shape

In [ ]:
#display the first few rows
df.head()
#df

In [ ]:
# slice the first two columns and first two rows from the dataset
np.random.seed(42)
df_new = df.iloc[[0,1], [0,1]]
#df_new = df.iloc[0:2:, 0:2]
df_new

In [ ]:
# slice the last two columns and and las two rows from the dataset
np.random.seed(42)
print(len(df.index)) #getting number of rows in df
last_two = df.iloc[-2:,-2:] #returning last 2 rows and last 2 columns
last_two

In [ ]:
# check the column data types in the dataset
df.dtypes

In [ ]:
# use the describe function to display the stats of the data.
np.random.seed(42)
#To call describe() on just the numerical columns use describe(include = [np.number])
print(df.describe(include = [np.number]))
print("")

#To call describe() on just the objects (strings) using describe(include = ['O']).
print(df.describe(include = ['O']))

print("")
#To call describe() on all elements of the dataframe use df.describe(include = 'all')
df.describe(include = 'all')

In [ ]:
# calculate the sums of the data by row
rowSum = df.sum(axis=1)
rowSum.head()

In [ ]:
# calculate the sums of the data by column
columnSum=df.iloc[:,0:7].sum(axis=0, numeric_only=True)
#df['col sum']=df[1:7].sum(axis=1)
columnSum

In [ ]:
# create a new column by combining two random columns in the data through - addition, or multiplication
# call the column: new_col
df['ratio col0:col1']=df['col0']/df['col1']*100
df.head()

In [ ]:
# create two random datasets from the function above and use the merge function to combine them
# name the two dataframes appropriately
#creating data_frame1
data_frame1=create_dataset(5,2,2)
print(data_frame1)
print("")
#creating data_frame2
data_frame2=create_dataset(5,2,2)
print(data_frame2)

# using .merge() function to merge data_frame1 and data_frame2 to get data_frame3
data_frame3 = pd.merge(data_frame1, data_frame2, on='string')
print("")
print(data_frame3)

In [ ]:
#create three random datasets and concatenate them to form one result df z
random_data_frame1=create_dataset(5,2,2)
print(random_data_frame1)
print("")
#creating data_frame2
random_data_frame2=create_dataset(4,2,2)
print(random_data_frame2)
print("")
#creating data_frame2
random_data_frame2=create_dataset(4,2,2)
print(random_data_frame2)
print("")
#creating data_frame3
random_data_frame3=create_dataset(4,2,2)
print(random_data_frame3)
print("")
z=pd.concat([random_data_frame1, random_data_frame2, random_data_frame3])
print(z)

In [ ]:
# create two datasets and join them based on one common variable
dataFrame1=create_dataset(10,2,2)
print(dataFrame1)
print("")
#creating data_frame2
dataFrame1=create_dataset(10,2,2)
print(data_frame2)

# using .merge() function to merge data_frame1 and data_frame2 to get data_frame3
data_frame3 = pd.merge(data_frame1, data_frame2, on='string')
print("")
print(data_frame3)

In [ ]:
# create a dataset called p and groupby the string column and calculate sums
p=df.groupby('string').sum(numeric_only=True)#grouping by column 'string' and getting sums
p

In [ ]:
# create a dataframe called h and use iloc to slice the columns 3-5 and rows 3-4
h = df.iloc[3:5, 3:6]
h

In [ ]:
# can you use the same dataset h but use loc function to slice the data?
# please leave your explanation if not.
#iloc selects rows and columns at specific integer positions

No, loc cannot be used in this case.
This is because loc selects rows and columns with specific labels which is not the case in h above

In [ ]:
titanic.head()

In [ ]:
# please group the dataset titanic by sex and calculate the average age

mean_age_by_sex = titanic[["sex", "age"]].groupby("sex").mean()
mean_age_by_sex

In [ ]:
# what is the average age of women that died in that titanic?

dead_women = titanic[(titanic["sex"] == "female") & (titanic["survived"] == 0)]
dead_women
mean_age_of_dead_women = dead_women[["age"]].mean()
mean_age_of_dead_women

In [ ]:
# how many of the people who embarked in Southampton were male and died?
dead_men_south = titanic[(titanic["sex"] == "male") & (titanic["survived"] == 0) & (titanic["embark_town"]=="Southampton")]
print(dead_men_south.head())
dead_men_south.shape[0]

In [ ]:
# what is the average fare of a man in First Class
men_in_first_class=titanic[(titanic["sex"] == "male") & (titanic["class"] == "First")]
men_in_first_class.head()
average_men_fair_first=men_in_first_class["fare"].mean()
average_men_fair_first

In [ ]:
# Return the indexes of all the people that died in the titanic
died= titanic[titanic["survived"]==0]
died.index

In [ ]:
# drop all the indexes of those people and create a new df called aliveTitanic
aliveTitanic = titanic.drop(titanic[titanic["survived"]==0])
aliveTitanic

In [ ]:
# how many were not adult males?
not_adult_males= titanic[(titanic["adult_male"]==False)]
not_adult_males.shape[0]