## Numpy Assignment 2

- Student Name: James Bumba
- Student RegNo: 2020/HD07/3230

### Instructions
- Please answer the exercises to the best of your knowledge.
- The assignment is out of 10 marks and will contribute partially to your final result.

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
titanic = sns.load_dataset('titanic')

In [2]:

#A function that creates a random dataset
# with numerical and categorical features
def create_dataset(n_samples, n_features, n_classes):
    #set the seed
    np.random.seed(42)
    X = np.random.randn(n_samples, n_features)
    y = np.random.randint(0, n_classes, n_samples)
    #combing the numerical and categorical features
    z = np.hstack((X, y.reshape(-1, 1)))
    # add random column names to the dataset
    z = pd.DataFrame(z, columns=['col' + str(i) for i in range(n_features + 1)])
    # add a column with random strings combinations
    z['string'] = np.random.choice(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'], n_samples)
    # return the dataset
    return z

In [3]:
#use the function above to create a dataframe.
df = create_dataset(50,5,2)

In [ ]:
#check the dimensions of the data
df.shape

In [4]:
#display the first few rows
df.head()
#df

       col0      col1      col2      col3      col4  col5 string
0  0.496714 -0.138264  0.647689  1.523030 -0.234153   1.0      b
1 -0.234137  1.579213  0.767435 -0.469474  0.542560   0.0      t
2 -0.463418 -0.465730  0.241962 -1.913280 -1.724918   0.0      j
3 -0.562288 -1.012831  0.314247 -0.908024 -1.412304   0.0      z
4  1.465649 -0.225776  0.067528 -1.424748 -0.544383   1.0      s

In [ ]:
# slice the first two columns and first two rows from the dataset
np.random.seed(42)
df_new = df.iloc[[0,1], [0,1]]
#df_new = df.iloc[0:2:, 0:2]
df_new

In [ ]:
# slice the last two columns and and las two rows from the dataset
np.random.seed(42)
print(len(df.index)) #getting number of rows in df
last_two = df.iloc[-2:,-2:] #returning last 2 rows and last 2 columns
last_two

In [ ]:
# check the column data types in the dataset
df.dtypes

In [ ]:
# use the describe function to display the stats of the data.
np.random.seed(42)
#To call describe() on just the numerical columns use describe(include = [np.number])
print(df.describe(include = [np.number]))
print("")

#To call describe() on just the objects (strings) using describe(include = ['O']).
print(df.describe(include = ['O']))

print("")
#To call describe() on all elements of the dataframe use df.describe(include = 'all')
df.describe(include = 'all')

In [ ]:
# calculate the sums of the data by row
df["row sum"] = df. sum(axis=1)
df

In [ ]:
# calculate the sums of the data by column
df['col sum']=df.iloc[:,1:7].sum(axis=0, numeric_only=True)
#df['col sum']=df[1:7].sum(axis=1)
df

In [ ]:
# create a new column by combining two random columns in the data through - addition, or multiplication
# call the column: new_col
df['ratio col0:col1']=df['col0']/df['col1']*100
df

In [5]:
# create two random datasets from the function above and use the merge function to combine them
# name the two dataframes appropriately
#creating data_frame1
data_frame1=create_dataset(5,2,2)
print(data_frame1)
print("")
#creating data_frame2
data_frame2=create_dataset(5,2,2)
print(data_frame2)

# using .merge() function to merge data_frame1 and data_frame2 to get data_frame3
data_frame3 = pd.merge(data_frame1, data_frame2, on='string')
print("")
print(data_frame3)

       col0      col1  col2 string
0  0.496714 -0.138264   1.0      z
1  0.647689  1.523030   1.0      v
2 -0.234153 -0.234137   0.0      l
3  1.579213  0.767435   0.0      y
4 -0.469474  0.542560   1.0      q

       col0      col1  col2 string
0  0.496714 -0.138264   1.0      z
1  0.647689  1.523030   1.0      v
2 -0.234153 -0.234137   0.0      l
3  1.579213  0.767435   0.0      y
4 -0.469474  0.542560   1.0      q

     col0_x    col1_x  col2_x string    col0_y    col1_y  col2_y
0  0.496714 -0.138264     1.0      z  0.496714 -0.138264     1.0
1  0.647689  1.523030     1.0      v  0.647689  1.523030     1.0
2 -0.234153 -0.234137     0.0      l -0.234153 -0.234137     0.0
3  1.579213  0.767435     0.0      y  1.579213  0.767435     0.0
4 -0.469474  0.542560     1.0      q -0.469474  0.542560     1.0

In [6]:
#create three random datasets and concatenate them to form one result df z
random_data_frame1=create_dataset(4,2,2)
print(random_data_frame1)
print("")
#creating data_frame2
random_data_frame2=create_dataset(4,2,2)
print(random_data_frame2)
print("")
#creating data_frame2
random_data_frame2=create_dataset(4,2,2)
print(random_data_frame2)
print("")
#creating data_frame3
random_data_frame3=create_dataset(4,2,2)
print(random_data_frame3)
print("")
z=pd.concat([random_data_frame1, random_data_frame2, random_data_frame3], ignore_index=True)
print(z)

       col0      col1  col2 string
0  0.496714 -0.138264   1.0      l
1  0.647689  1.523030   0.0      f
2 -0.234153 -0.234137   1.0      b
3  1.579213  0.767435   1.0      u

       col0      col1  col2 string
0  0.496714 -0.138264   1.0      l
1  0.647689  1.523030   0.0      f
2 -0.234153 -0.234137   1.0      b
3  1.579213  0.767435   1.0      u

       col0      col1  col2 string
0  0.496714 -0.138264   1.0      l
1  0.647689  1.523030   0.0      f
2 -0.234153 -0.234137   1.0      b
3  1.579213  0.767435   1.0      u

       col0      col1  col2 string
0  0.496714 -0.138264   1.0      l
1  0.647689  1.523030   0.0      f
2 -0.234153 -0.234137   1.0      b
3  1.579213  0.767435   1.0      u

        col0      col1  col2 string
0   0.496714 -0.138264   1.0      l
1   0.647689  1.523030   0.0      f
2  -0.234153 -0.234137   1.0      b
3   1.579213  0.767435   1.0      u
4   0.496714 -0.138264   1.0      l
5   0.647689  1.523030   0.0      f
6  -0.234153 -0.234137   1.0      b
7   1.579213  0.767435   1.0      u
8   0.496714 -0.138264   1.0      l
9   0.647689  1.523030   0.0      f
10 -0.234153 -0.234137   1.0      b
11  1.579213  0.767435   1.0      u

In [7]:
# create two datasets and join them based on one common variable
dataFrame1=create_dataset(10,2,2)
print(dataFrame1)
print("")
#creating data_frame2
dataFrame1=create_dataset(10,2,2)
print(data_frame2)

# using .merge() function to merge data_frame1 and data_frame2 to get data_frame3
data_frame3 = pd.merge(data_frame1, data_frame2, on='string')
print("")
print(data_frame3)

       col0      col1  col2 string
0  0.496714 -0.138264   1.0      c
1  0.647689  1.523030   1.0      e
2 -0.234153 -0.234137   0.0      s
3  1.579213  0.767435   1.0      g
4 -0.469474  0.542560   0.0      u
5 -0.463418 -0.465730   1.0      i
6  0.241962 -1.913280   0.0      g
7 -1.724918 -0.562288   1.0      r
8 -1.012831  0.314247   1.0      d
9 -0.908024 -1.412304   0.0      y

       col0      col1  col2 string
0  0.496714 -0.138264   1.0      z
1  0.647689  1.523030   1.0      v
2 -0.234153 -0.234137   0.0      l
3  1.579213  0.767435   0.0      y
4 -0.469474  0.542560   1.0      q

     col0_x    col1_x  col2_x string    col0_y    col1_y  col2_y
0  0.496714 -0.138264     1.0      z  0.496714 -0.138264     1.0
1  0.647689  1.523030     1.0      v  0.647689  1.523030     1.0
2 -0.234153 -0.234137     0.0      l -0.234153 -0.234137     0.0
3  1.579213  0.767435     0.0      y  1.579213  0.767435     0.0
4 -0.469474  0.542560     1.0      q -0.469474  0.542560     1.0

In [ ]:
# create a dataset called p and groupby the string column and calculate sums

In [ ]:
# create a dataframe called h and use iloc to slice the columns 3-5 and rows 3-4

In [ ]:
# can you use the same dataset h but use loc function to slice the data?
# please leave your explanation if not.

In [ ]:
titanic.head()

In [ ]:
# please group the dataset titanic by sex and calculate the average age

In [ ]:
# what is the average age of women that died in that titanic?

In [ ]:
# how many of the people who embarked in Southampton were male and died?

In [ ]:
# what is the average fare of a man in First Class

In [ ]:
# Return the indexes of all the people that died in the titanic

In [ ]:
# drop all the indexes of those people and create a new df called aliveTitanic

In [ ]:
# how many were not adult males?